<%= form_with(model: [:admin, challenge], local: true) do |form| %>
  <% if challenge.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(challenge.errors.count, "error") %> prohibited this challenge from being saved:</h2>

      <ul>
        <% challenge.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :challenge_text %>
    <%= form.text_area :challenge_text, class: "u-full-width" %>
  </div>

  <div class="actions">
    <%= form.submit class:"button-primary"%>
  </div>
<% end %>
