<%= form_with(model: [:admin, challenge], local: true) do |form| %>
  <% if challenge.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(challenge.errors.count, "error") %> prohibited this challenge from being saved:</h2>

      <ul>
        <% challenge.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :challenge_text %>
    <%= form.text_area :challenge_text, class: "u-full-width" %>
  </div>

  <div class="actions">
    <%= form.submit class:"button-primary"%>
  </div>

  <h3>Riffs and variations</h3>
  <ul>
    <li>Classic 25/10: "If you were ten times bolder, what big idea would you recommend? What first step would you take to get started?”</li>
    <li>Instead of asking for bold ideas, ask, “If you could unmake one decision that is holding you back, what would it be? What is your first step to unmake it?”</li>
    <li>Instead of bold ideas, ask, “What courageous conversation are you not having? What first step could spark your courage?”</li>
    <li>Instead of bold ideas, ask, “What do you hope can happen in the future? What practical first step can you take now to tip the balance in this direction?”</li>
  </ul>

<% end %>
