<p id="notice"><%= notice %></p>

<h1>Challenges</h1>


<table>
  <thead>
    <tr>
      <th>Challenge text</th>
      <th>Status</th>
      <th>Link to share</th>
      <th>Created</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td colspan="5">
        <%= link_to 'New Challenge', new_admin_challenge_path %>
      </td>
    </tr>
    <% @challenges.each do |challenge| %>
      <tr>
        <td>
          <%= truncate(challenge.challenge_text, length: 80, separator: ' ')%><br />
          <%= link_to "edit", edit_admin_challenge_path(challenge) %>
          <%= link_to "view", challenge_path(challenge) %>
        </td>
        <td>
          <%= render "challenge_status", status: challenge.status %><br />
          <%= challenge.participants.count %> participants<br />
          <%= challenge.participants.joins(:proposed_solution).count %> proposals<br />
          <% if challenge.status == 'open' %>
            <%= link_to 'Open voting', open_voting_admin_challenge_path(challenge), method: :post %>
          <% elsif challenge.status == 'voting' %>
            Round: <%= challenge.voting_round %><br />
            Votes cast: <%= challenge.votes_cast_this_round %> / <%= challenge.participants.count %><br />

              <% if challenge.voting_round == 5 %>
                <%= link_to 'Conclude voting', next_round_admin_challenge_path(challenge), method: :post %>
              <% else %>
                <%= link_to 'Next round', next_round_admin_challenge_path(challenge), method: :post %><br/>
                <%= link_to 'Reset', reset_admin_challenge_path(challenge), method: :post, data: { confirm: 'Resetting will cancel all votes cast and re-open the call for participation. Are you sure?' } %>
              <% end %>
          <% else # finished %>
            <%= link_to "See results", challenge %>
          <% end %>
        </td>
        <td><%= link_to challenge.external_id, challenge %></td>
        <td><span title="<%= challenge.created_at %>"><%= time_ago_in_words(challenge.created_at) %> ago</span></td>
        <td><%= link_to 'Destroy', [:admin, challenge], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

