<p id="notice"><%= notice %></p>

<h1>Challenges</h1>


<table class="admin_challenge_index">
  <thead>
    <tr>
      <th>Challenge text</th>
      <th>Status</th>
      <th>Link to share</th>
      <th>Created</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td colspan="5">
        <%= link_to 'New Challenge', new_admin_challenge_path %>
      </td>
    </tr>
    <% @challenges.each do |challenge| %>
      <tr class="<%= challenge.age_class %>" >
        <td>
          <% if challenge.challenge_context.present? %>
            <%= truncate(challenge.challenge_context, length: 80, separator: ' ')%><br />
            <% end %>
            <%= truncate(challenge.challenge_prompt, length: 40, separator: ' ')%><br />
          <%= link_to "edit", edit_admin_challenge_path(challenge) %>
          <%= link_to "view", challenge_path(challenge) %>
        </td>
        <td>
          <%= render "challenge_status", status: challenge.status %><br />
          <%= challenge.participants.count %> participants<br />
          <%= challenge.participants.joins(:proposed_solution).count %> proposals<br />
          <% if challenge.status == 'open' %>
            <%= form_tag open_voting_admin_challenge_path(challenge) do %>
            <%= submit_tag 'Open voting' %>
            <% end %>
          <% elsif challenge.status == 'voting' %>
            Round: <%= challenge.voting_round %><br />
            Votes cast: <%= challenge.votes_cast_this_round %> / <%= challenge.participants.count %><br />

              <% if challenge.voting_round == 5 %>
                <%= form_tag next_round_admin_challenge_path(challenge) do %>
                <%= submit_tag 'Conclude voting' %>
                <% end %>
              <% else %>
                <%= form_tag next_round_admin_challenge_path(challenge) do %>
                <%= submit_tag 'Next round' %>
                <% end %>
                <%= form_tag reset_admin_challenge_path(challenge) do %>
                <%= submit_tag 'Reset', onclick: "confirm('Resetting will cancel all votes cast and re-open the call for participation. Are you sure?')" %>
                <% end %>
              <% end %>
          <% else # finished %>
            <%= link_to "See results", challenge %><br />
            <%= link_to "Download CSV", challenge_path(challenge, format: :csv) %>
          <% end %>
        </td>
        <td><%= link_to challenge.external_id, challenge %></td>
        <td><span title="<%= challenge.created_at %>"><%= time_ago_in_words(challenge.created_at) %> ago</span></td>
        <td>
          <%= form_for [:admin, challenge], method: :delete do %>
          <%= submit_tag 'Delete', onclick: "confirm('Are you sure?')" %>
          <% end %>

          <%= link_to 'Destroy', [:admin, challenge], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<p><strong>Data will be deleted after 30 days.</strong></p>
<p>Your administrator login code is <strong><%= @administrator.administrator_id%></strong>. Save this code in case you need to come back here again in a different browser. Don't share it with anyone else!</p>

