<p id="notice"><%= notice %></p>

<h1>Challenges</h1>

<table>
  <thead>
    <tr>
      <th>Link to share</th>
      <th>Challenge text</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @challenges.each do |challenge| %>
      <tr>
        <td><%= link_to challenge.external_id, challenge %></td>
        <td><%= truncate(challenge.challenge_text) %></td>
        <td>
          <%= challenge.status %><br />
          <%= challenge.participants.count %> participants<br />
          <%= challenge.participants.joins(:proposed_solution).count %> proposals<br />
          <% if challenge.status == 'open' %>
            <%= link_to 'Open voting', open_voting_admin_challenge_path(challenge), method: :post %>
          <% elsif challenge.status == 'voting' %>
            Round: <%= challenge.voting_round %><br />
            Votes cast: <%= challenge.votes_cast_this_round %> / <%= challenge.participants.count %><br />

              <% if challenge.voting_round == 5 %>
                <%= link_to 'Conclude voting', next_round_admin_challenge_path(challenge), method: :post %>
              <% else %>
                <%= link_to 'Next round', next_round_admin_challenge_path(challenge), method: :post %>
              <% end %>
          <% else # finished %>
            <%= link_to "See results", challenge %>
          <% end %>
        </td>
        <td><%= link_to 'Show', challenge %></td>
        <td><%= link_to 'Edit', edit_admin_challenge_path(challenge) %></td>
        <td><%= link_to 'Destroy', [:admin, challenge], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Challenge', new_admin_challenge_path %>
