<h3>You said:</h3>

<%= render "challenges/participant/active/proposed_solution_box", proposed_solution: @participant.proposed_solution %>

<p><%= button_to "Amend proposal", @challenge, params: {amend_proposal: "1"}, method: :get %></p>

<p>Thanks for your proposal, your challenge administrator will let you know when voting is open. There are <%= pluralize(@num_participants, "participant") %> and <%= @num_proposals %> proposals submitted so far </p>

<% if params[:check_if_round] %>
  <p><strong>Not yet!</strong></p>
<% end %>

<p><%= button_to "Check if voting is open", @challenge, method: :get, class:"button-primary", params: {check_if_round: 1 } %></p>

