<!DOCTYPE html>
<html>
  <head>
    <title>Twentyfiveten</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">

    <!-- columns should be the immediate child of a .row -->
      <div class="row">
        <div class="one column"></div>
        <div class="ten columns"><%= yield %></div>
        <div class="one column"></div>
      </div>

      <div class="row footer">
        <div class="one column"></div>
        <div class="ten columns"><%= yield :footer %></div>
        <div class="one column"></div>
      </div>
    </div>

  </body>
</html>
